general {
  mode "wm-only"
}

layout {
  strip-scroll-step 240
  default-column-mode "normal"
  default-column-width "fraction" 1 2
  outer-padding 16
  column-gap 12
  window-gap 12
  floating-margin 16
}

input {
  bind-control-mode "coexistence"
  touchpad-override false
  hotkey "Win+H" "focus-prev"
  hotkey "Win+J" "focus-next"
  hotkey "Win+R" "cycle-column-width"
  hotkey "Win+Ctrl+Shift+F" "toggle-floating"
  hotkey "Win+Ctrl+Shift+Space" "toggle-fullscreen"
  hotkey "Win+Ctrl+Shift+Backspace" "disable-management-and-unwind"
}

rules {
  rule "float-dialogs" {
    priority 100
    enabled true
    match-class-substring "Dialog"
    actions {
      layer "floating"
    }
  }

  rule "float-settings" {
    priority 110
    enabled true
    match-title-substring "Settings"
    actions {
      layer "floating"
    }
  }
}
